* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  background: #eef3f8;
  padding: 60px 0;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero-title span {
  color: #ff3b3b;
}

.search-desktop {
  background: #fff;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}



.input-desktop {
  border: none;
  border-right: 1px solid #ddd;
  border-radius: 0;
}

.input-desktop:focus {
  outline: none;
  box-shadow: none;
}

.input-desktop:last-child {
  border-right: none;
}

.btn-search {
  background: #ff3b3b;
  border: none;
  border-radius: 50px;
  padding: 10px 50px;
  color: white;
  font-weight: 600;
}

.btn-search:active {
  background: #ff3b3bdc;
  box-shadow: none;
}

.search-mobile {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-mobile {
  border-radius: 30px;
  padding: 14px;
  border: none;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}


.hero-img {
  max-width: 100%;
  margin-top: 50px;
}

.companyTitle {
  font-weight: 700;
}

/* hello */

.category-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, #dbe6f6, #cfd9df);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

/* Scroll container */
.category-scroll {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}

/* Card style */
.category-card {
  min-width: 220px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* Icon */
.icon {
  font-size: 24px;
  color: #ff6b6b;
}

/* Text */
.category-card h6 {
  margin: 0;
  font-weight: 600;
}

.category-card p {
  margin: 0;
  font-size: 13px;
  color: gray;
}

/* Navigation buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: #fff;
  width: 35px;
  height: 60px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 10;
}

.nav-btn.left {
  left: 0;
}

.nav-btn.right {
  right: 0;
}

.nav-btn:hover {
  background: #f1f1f1;
}

.category-link {
  text-decoration: none;
  color: inherit;
}

.category-link:hover {
  text-decoration: none;
}

.category-wrapperr {
  margin: 0 100px;
  background-color: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

.companyHiring {
  text-align: center;
  margin-top: 20px;
}



.logo-section {
  background: #f5f6f8;
  padding: 40px 0;

}

.rowwise {
  margin: 0 160px;
}

.logo-box {
  width: 140px;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

}

.logo-box img {
  max-width: 80%;
  max-height: 40px;
  object-fit: contain;

}

.companytext {
  text-align: center;
  font-weight: 500;
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.citytext {
  text-align: center;
  font-weight: 500;
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-all-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #ff3b3b;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 600;
}

.view-all-btn:hover {
  background-color: #ff3b3bdc;
  box-shadow: none;
}

.image-picture {
 
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;


}

.mobile-screen img {
  display: none;
}

.top-requirements{
  background-color: #d7dcdfad;
}
.requires{
  font-size: 30px;
  font-weight: 500;
}
.requires-text{
  font-size: 20px;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 30px;
    text-align: center;
  }

  .hero-section {
    padding: 40px 0;
  }

  .btn-search {
    padding: 10px 30px;
  }

  .boxPage1 {
    background-color: #ff3b3b;
    margin-top: 20%;
  }


  .image .hero-img {
    display: none;
  }

  .rowwise {
    margin: 0 40px;
  }

  .citytext {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .companytext {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mobile-screen img {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .laptop-screen img {
    display: none;
  }
}